@model List<CarSalesSite.Models.Car>

<h2>Управление автомобилями</h2>

<a asp-action="AddCar" class="btn btn-primary">Добавить авто</a>



<table class="table">
    <thead>
        <tr>
            <th>Марка</th>
            <th>Модель</th>
            <th>Год</th>
            <th>Цена</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Brand?.Name</td>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.Price.ToString("N0") $</td>
                <td>
                    <a asp-action="EditCar" asp-route-id="@car.CarId" class="btn btn-sm btn-warning">Редактировать</a>
                    <form asp-action="DeleteCar" method="post" style="display:inline">
                        <input type="hidden" name="id" value="@car.CarId" />
                        <button type="submit" class="btn btn-sm btn-danger">Удалить</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>





